.header-info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__list {
        padding-left: 0;
        &-item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}